.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(206, 161, 49);
  }
  button {
    background-color: rgb(206, 161, 49);

    color: rgba(255, 255, 255, 0.836);
    &:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 540px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;

    input,
    button {
      font-size: 1.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid rgb(206, 161, 49);
    }
  }
}

@media screen and (max-width: 400px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;

    input,
    button {
      font-size: 1.25rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid rgb(114, 114, 114);
    }
  }
}
